.validator-wrapper {
  width: 500px;
  margin: 0 auto;
  font-family: "Helvetica";
  padding: 20px;
}

.validator-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;

  width: calc(50% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}
.block__input {
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  color: #000000;
  border: none;
  border-bottom: 1px solid black;
  height: 25px;
  outline: none;
}
.block__input::-webkit-input-placeholder {
  color: #000000;
  opacity: 0;
}
.block__input::-moz-placeholder {
  color: #000000;
  opacity: 0;
}
.block__input:-ms-input-placeholder {
  color: #000000;
  opacity: 0;
}
.block__input::-ms-input-placeholder {
  color: #000000;
  opacity: 0;
}
.block__input::placeholder {
  color: #000000;
  opacity: 0;
}
.block__input::-webkit-input-placeholder {
  color: #000000;
  opacity: 0;
}
.block__input::-moz-placeholder {
  color: #000000;
  opacity: 0;
}
.block__input:-ms-input-placeholder {
  color: #000000;
  opacity: 0;
}
.block__input:-moz-placeholder {
  color: #000000;
  opacity: 0;
}
.block__input.file,
.block__input.check {
  border: none;
}
.block__input.file:hover,
.block__input.check:hover {
  border: none;
}
.block__input.file:active,
.block__input.check:active {
  border: none;
}
.block__input.file:focus,
.block__input.check:focus {
  border: none;
}
.block__input.error {
  border: none;
  border-bottom: 1px solid red;
}
.block__label {
  margin-bottom: 5px;
  color: #000000;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.block__label.label-file {
  top: -10px;
}
.block__message {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  color: #000000;
  resize: none;
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid black;
  height: 100%;
  -ms-input-placeholder-color: rgba(0, 0, 0, 0);
  -moz-placeholder-color: rgba(0, 0, 0, 0);
}
.block__message ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0);
}
.block__message ::-moz-placeholder {
  color: rgba(0, 0, 0, 0);
}
.block__message :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0);
}
.block__message ::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0);
}
.block__message ::placeholder {
  color: rgba(0, 0, 0, 0);
}
.block__message ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0);
}
.block__message ::-moz-placeholder {
  color: rgba(0, 0, 0, 0);
}
.block__error {
  width: auto;
  background: transparent;
  color: red;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  bottom: -10px;
  opacity: 0;
  display: block;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.block.check {
  width: auto;
  margin-right: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.js-input-focus + .block__label {
  top: -10px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.js-input-focus + .label-check {
  top: 0;
  font-size: 16px;
  color: #000000;
  position: relative;
}

.label-check {
  top: 0;
  font-size: 16px;
  color: #000000;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 20px;
}

.fake-checkbox {
  width: 13px;
  height: 13px;
  border: 1px solid #000000;
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  cursor: pointer;
}
.fake-checkbox::before,
.fake-checkbox::after {
  content: "";
  width: 4px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
  left: 2px;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.fake-checkbox::after {
  width: 9px;
  height: 2px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 6px;
  left: 4px;
}

.block__input.check:checked + .label-check .fake-checkbox::after,
.block__input.check:checked + .label-check .fake-checkbox::before {
  opacity: 1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.btn {
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
  padding: 10px 25px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.btn:hover,
.btn:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.error ~ .block__error {
  opacity: 1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
