.validator-wrapper {
  width: 500px;
  margin: 0 auto;
  font-family: 'Helvetica';
  background-color: #0083cb;
  padding: 20px; }

.validator-form {
  display: flex;
  flex-wrap: wrap; }

.block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(50% - 20px);
  margin-right: 20px;
  position: relative; }
  .block__input {
    padding: 5px;
    margin-bottom: 30px;
    width: 100%;
    color: #fff;
    background-color: #0083cb;
    border: none;
    border-bottom: 1px solid white;
    height: 25px; }
  .block__input::placeholder {
    color: rgba(255, 255, 255, 0); }
  .block__input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0); }
  .block__input::-moz-placeholder {
    color: rgba(255, 255, 255, 0); }
  .block__input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0); }
  .block__input:-moz-placeholder {
    color: rgba(255, 255, 255, 0); }
  .block__label {
    margin-bottom: 5px;
    color: #fff;
    position: absolute;
    top: 10px;
    left: 0;
    transition: all 0.4s; }
  .block__message {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    color: #fff;
    resize: none;
    background-color: #0083cb;
    border: none;
    border-bottom: 1px solid white;
    height: 100%; }
  .block__message::placeholder {
    color: rgba(255, 255, 255, 0); }
  .block__message::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0); }
  .block__message::-moz-placeholder {
    color: rgba(255, 255, 255, 0); }
  .block__message:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0); }
  .block__message:-moz-placeholder {
    color: rgba(255, 255, 255, 0); }
  .block__input.file, .block__input.check {
    border: none; }
  .block__input.file:hover, .block__input.check:hover {
    border: none; }
  .block__input.file:active, .block__input.check:active {
    border: none; }
  .block__input.file:focus, .block__input.check:focus {
    border: none; }
  .block__error {
    position: absolute;
    width: auto;
    top: 22px;
    left: calc(100% - 345px);
    background: #ffffff;
    color: #000000;
    border: 1px solid #7f5dfc;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px; }
  .block__error.password {
    left: -142px; }
  .block__error.email {
    left: 245px; }
  .block__error.check {
    left: 245px; }
  .block__error.date {
    left: 245px; }
  .block__error.tel {
    left: -93px; }
  .block__error.file {
    left: -97px; }
  .block__input.error {
    border-bottom: 1px solid red; }
  .block__input.good {
    border-bottom: 1px solid green; }

.block.check {
  width: auto;
  margin-right: auto; }

.block__error {
  display: none;
  opacity: 0;
  transition: all 0.5s; }

.js-input-focus + .block__label {
  top: -10px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.4s; }
