.validator-wrapper {
  width: 500px;
  margin: 0 auto;
  font-family: 'Helvetica';
  background-color: #0083cb;
  padding: 20px; }

.validator-form {
  display: flex;
  flex-wrap: wrap; }

.block {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  width: calc(50% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative; }
  .block__input {
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    color: #fff;
    background-color: #0083cb;
    border: none;
    border-bottom: 1px solid white;
    height: 25px;
    outline: none; }
  .block__input::placeholder {
    color: rgba(255, 255, 255, 0); }
  .block__input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0); }
  .block__input::-moz-placeholder {
    color: rgba(255, 255, 255, 0); }
  .block__input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0); }
  .block__input:-moz-placeholder {
    color: rgba(255, 255, 255, 0); }
  .block__label {
    margin-bottom: 5px;
    color: #fff;
    position: absolute;
    top: 10px;
    left: 0;
    transition: all 0.4s; }
  .block__message {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    color: #fff;
    resize: none;
    background-color: #0083cb;
    border: none;
    border-bottom: 1px solid white;
    height: 100%; }
  .block__message::placeholder {
    color: rgba(255, 255, 255, 0); }
  .block__message::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0); }
  .block__message::-moz-placeholder {
    color: rgba(255, 255, 255, 0); }
  .block__message:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0); }
  .block__message:-moz-placeholder {
    color: rgba(255, 255, 255, 0); }
  .block__input.file, .block__input.check {
    border: none; }
  .block__input.file:hover, .block__input.check:hover {
    border: none; }
  .block__input.file:active, .block__input.check:active {
    border: none; }
  .block__input.file:focus, .block__input.check:focus {
    border: none; }
  .block__error {
    width: auto;
    background: transparent;
    color: red;
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    bottom: -10px; }
  .block__input.error {
    border: none;
    border-bottom: 1px solid red; }

.block.check {
  width: auto;
  margin-right: auto;
  flex-direction: row; }

.block__error {
  display: none;
  opacity: 0;
  transition: all 0.5s; }

.js-input-focus + .block__label {
  top: -10px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.4s; }

.js-input-focus + .label-check {
  top: 0;
  font-size: 16px;
  color: #ffffff;
  position: relative; }

.block__input.check {
  display: none; }

.label-check {
  top: 0;
  font-size: 16px;
  color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: row;
  padding-left: 20px; }

.fake-checkbox {
  width: 13px;
  height: 13px;
  border: 1px solid #ffff;
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  cursor: pointer; }

.fake-checkbox::before {
  content: "";
  width: 4px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  transform: rotate(45deg);
  top: 7px;
  left: 2px; }

.fake-checkbox::after {
  content: "";
  width: 9px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  transform: rotate(-45deg);
  top: 6px;
  left: 4px; }

.fake-checkbox::before,
.fake-checkbox::after {
  opacity: 0;
  transition: all 0.4s; }

.block__input.check:checked + .label-check .fake-checkbox::after,
.block__input.check:checked + .label-check .fake-checkbox::before {
  opacity: 1;
  transition: all 0.4s; }

.btn {
  background-color: transparent;
  color: #fff;
  border: 1px solid #ffffff;
  padding: 10px 25px;
  font-size: 15px;
  cursor: pointer;
  outline: none; }
  .btn:hover, .btn:focus {
    background-color: rgba(255, 255, 255, 0.2); }

.block__input.file {
  display: none; }

.label-file {
  background-color: transparent;
  color: #fff;
  border: 1px solid #ffffff;
  padding: 10px 25px;
  font-size: 15px;
  cursor: pointer;
  outline: none; }
  .label-file:hover, .label-file:focus {
    background-color: rgba(255, 255, 255, 0.2); }

.file-name {
  display: block;
  opacity: 1;
  margin-top: 5px;
  color: #fff; }

.file {
  flex-direction: column; }

.file .label-file {
  position: relative;
  top: auto;
  left: auto; }
