.validator-wrapper {
  width: 500px;
  margin: 0 auto;
  font-family: 'Helvetica';
  background-color: #eef2f5;
  padding: 20px; }

.validator-form {
  display: flex;
  flex-wrap: wrap; }

.block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(50% - 20px);
  margin-right: 20px; }
  .block__input {
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    color: #000;
    border: 1px solid grey;
    border-radius: 5px; }
  .block__input::placeholder {
    color: #000; }
  .block__input::-webkit-input-placeholder {
    color: #000; }
  .block__input::-moz-placeholder {
    color: #000; }
  .block__input:-ms-input-placeholder {
    color: #000; }
  .block__input:-moz-placeholder {
    color: #000; }
  .block__label {
    margin-bottom: 5px; }
  .block__message {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    color: #000;
    resize: none; }
  .block__message::placeholder {
    color: #000; }
  .block__input.file, .block__input.check {
    border: none; }
  .block__input:hover {
    border: 1px solid #7f5dfc; }
  .block__input:active {
    border: 1px solid #7f5dfc; }
  .block__input:focus {
    border: none;
    border: 1px solid #7f5dfc; }
  .block__input.file:hover, .block__input.check:hover {
    border: none; }
  .block__input.file:active, .block__input.check:active {
    border: none; }
  .block__input.file:focus, .block__input.check:focus {
    border: none; }

.block.check {
  width: auto;
  margin-right: auto;
  flex-direction: row; }

.block__error {
  display: none;
  opacity: 0;
  transition: all 0.5s; }

.js-input-focus + .block__label {
  top: -10px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.4s; }

.js-input-focus + .label-check {
  top: 0;
  font-size: 16px;
  color: #ffffff;
  position: relative; }

.block__input.check {
  display: none; }

.label-check {
  top: 0;
  font-size: 16px;
  color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: row;
  padding-left: 20px; }

.fake-checkbox {
  width: 13px;
  height: 13px;
  border: 1px solid #ffff;
  display: block;
  position: absolute;
  top: 3px;
  left: 0; }

.fake-checkbox::before {
  content: "";
  width: 4px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  transform: rotate(45deg);
  top: 7px;
  left: 2px; }

.fake-checkbox::after {
  content: "";
  width: 9px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  transform: rotate(-45deg);
  top: 6px;
  left: 4px; }
