.validator-wrapper
    width: 500px
    margin: 0 auto
    font-family: 'Helvetica'
    background-color: #0083cb
    padding: 20px
.validator-form
    display: flex
    flex-wrap: wrap
.block
    display: flex
    flex-direction: column
    align-items: flex-start
    width: calc(50% - 20px)
    margin-right: 20px
    position: relative
    &__input
        padding: 5px
        margin-bottom: 30px
        width: 100%
        color: #fff
        background-color: #0083cb
        border: none
        border-bottom: 1px solid rgba(255, 255, 255,1)
        height: 25px
    &__input::placeholder
        color: rgba(255, 255, 255, 0)
    &__input::-webkit-input-placeholder
        color: rgba(255, 255, 255, 0)
    &__input::-moz-placeholder
        color: rgba(255, 255, 255, 0)
    &__input:-ms-input-placeholder
        color: rgba(255, 255, 255, 0)
    &__input:-moz-placeholder
        color: rgba(255, 255, 255, 0)
    &__label
        margin-bottom: 5px
        color:#fff
        position: absolute
        top: 10px
        left: 0
        transition: all 0.4s

    &__message
        width: 100%
        padding: 5px
        margin-bottom: 10px
        color: #fff
        resize: none
        background-color: #0083cb
        border: none
        border-bottom: 1px solid rgba(255, 255, 255,1)
        height: 100%
    &__message::placeholder
        color: rgba(255, 255, 255, 0)
    &__message::-webkit-input-placeholder
        color: rgba(255, 255, 255, 0)
    &__message::-moz-placeholder
        color: rgba(255, 255, 255, 0)
    &__message:-ms-input-placeholder
        color: rgba(255, 255, 255, 0)
    &__message:-moz-placeholder
        color: rgba(255, 255, 255, 0)
    &__input.file, &__input.check
        border: none
    &__input.file:hover, &__input.check:hover
        border: none
    &__input.file:active, &__input.check:active
        border: none
    &__input.file:focus, &__input.check:focus
        border: none
    &__error
        position: absolute
        width: auto
        top: 22px
        left: calc(100% - 345px)
        background: #ffffff
        color: #000000
        border: 1px solid #7f5dfc
        font-size: 15px
        padding: 5px
        border-radius: 5px
    &__error.password
        left: -142px
    &__error.email
        left: 245px
    &__error.check
        left: 245px
    &__error.date
        left: 245px
    &__error.tel
        left: -93px
    &__error.file
        left: -97px
    &__input.error
        border-bottom: 1px solid red
    &__input.good
        border-bottom: 1px solid green

.block.check
    width: auto
    margin-right: auto
    flex-direction: row

.block__error
    display: none
    opacity: 0
    transition: all 0.5s

.js-input-focus + .block__label
    top: -10px
    font-size: 13px
    color: rgba(255,255,255,0.7)
    transition: all 0.4s
.js-input-focus + .label-check
    top: 0
    font-size: 16px
    color: #ffffff
    position: relative
.block__input.check
    display: none
.label-check
    top: 0
    font-size: 16px
    color: #ffffff
    position: relative
    display: flex
    flex-direction: row
    padding-left: 20px
.fake-checkbox
    width: 13px
    height: 13px
    border: 1px solid #ffff
    display: block
    position: absolute
    top: 3px
    left: 0
.fake-checkbox::before
	content: ""
	width: 4px
	height: 2px
	background-color: #ffffff
	position: absolute
	transform: rotate(45deg)
	top: 7px
	left: 2px
.fake-checkbox::after
	content: ""
	width: 9px
	height: 2px
	background-color: #ffffff
	position: absolute
	transform: rotate(-45deg)
	top: 6px
	left: 4px
