include bemto/bemto.pug
doctype html
html
	head(lang="ru")
		include layouts/__head
	body
		+b('main').main
			+b.validator-wrapper
				+b('form').validator-form
					+b.block
						+e.LABEL(for='name').label.label-name Name
						+e.INPUT(type='text' placeholder='name').input.name#name
					+b.block
						+e.LABEL(for='email').label.label-email Email
						+e.INPUT(type='text' placeholder='email').input.email#email
					+b.block
						+e.LABEL(for='password').label.label-pass Password
						+e.INPUT(type='password' placeholder='password').input.password#password
					+b.block
						+e.LABEL(for='date').label.label-date Date
						+e.INPUT(type='date' placeholder='date').input.date#date
					+b.block
						+e.LABEL(for='tel').label.label-tel Number
						+e.INPUT(type='tel' placeholder='telephone').input.tel#tel
					+b.block.check
						+e.LABEL(for='check').label.label-check Rights
						+e.INPUT(type='checkbox').input.check#check
					+b.block
						+e.INPUT(type='file').input.file#file 
					+b.block
						+e.LABEL(for='message').label.label-mess Input your message
						+e.TEXTAREA(placeholder='message').message#message
						
